# Importing SPSS data into a (python) pandas dataframe (via R)

#### I didn't find a good way to import directly from SPSS to pandas, so I'm using R. So:
#### !!! You also need to have R installed to use this script !!!

In [1]:
# getting some warnings when using rpy2, so turning those warnings off
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import python library that can load R libraries and can convert to a pandas dataframe
from rpy2.robjects import pandas2ri, r

In [3]:
# location of SPSS data (.sav) file
filename = './data/infections.sav'

In [4]:
# use r to convert SPPS data to R dataframe
w = r('foreign::read.spss("{}", to.data.frame=TRUE)'.format(filename))

In [5]:
# convert r dataframe to (python) pandas dataframe
df = pandas2ri.ri2py(w)

In [6]:
# checking meta data of the dataframe
# the nice thing is, that info() combines .shape and .dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 7 columns):
year           364 non-null float64
week           364 non-null float64
date           364 non-null category
clostridium    364 non-null float64
rsv            364 non-null float64
rotavirus      364 non-null float64
salmonella     364 non-null float64
dtypes: category(1), float64(6)
memory usage: 30.7 KB

In [7]:
# checking some data
# some integers have become floats etc.
df.head(3)

      year   week      date  clostridium   rsv  rotavirus  salmonella
0 1996.000 27.000  W27 1996      201.000 7.000    155.000     132.000
1 1996.000 28.000  W28 1996      177.000 2.000    118.000     107.000
2 1996.000 29.000  W29 1996      168.000 1.000     90.000     106.000

In [8]:
# write dataframe to csv file (in some location as where all data files are)
df.to_csv('./data/infections.csv', index=False)