In [27]:
# import SPSS-data using R (it goes via R to python pandas dataframe)

In [28]:
import warnings
warnings.filterwarnings('ignore')

In [29]:
from rpy2.robjects import pandas2ri, r

In [30]:
filename = './data/infections.sav'

In [31]:
w = r('foreign::read.spss("{}", to.data.frame=TRUE)'.format(filename))

In [32]:
df = pandas2ri.ri2py(w)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 7 columns):
year           364 non-null float64
week           364 non-null float64
date           364 non-null category
clostridium    364 non-null float64
rsv            364 non-null float64
rotavirus      364 non-null float64
salmonella     364 non-null float64
dtypes: category(1), float64(6)
memory usage: 30.7 KB

In [35]:
df.head(3)

      year   week      date  clostridium   rsv  rotavirus  salmonella
0 1996.000 27.000  W27 1996      201.000 7.000    155.000     132.000
1 1996.000 28.000  W28 1996      177.000 2.000    118.000     107.000
2 1996.000 29.000  W29 1996      168.000 1.000     90.000     106.000

In [36]:
df.to_csv('infections.csv', index=False)